<html ng-app="universidadApp">
  <head>
  <title>First Application in AngularJS</title>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
 <script type="text/javascript" src="app.js"></script>
 <!-- Incluir Bootstrap -->
 <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
    <body ng-controller="profesorCtrl as profe">
        <h1>{{"Profesor"}}</h1>
<h4>{{profe.profesor.nombre}}</h4>
<hr>

<div class="row" >
    
    <!-- Div que contiene la imagen del profesor -->
    <div class="col-sm-3">
        <section class="panel">
            <div class="panel-body" align="center">
                <img src="{{profesor.foto}}" class="img-circle" alt="" width="150px" height="150px">
            </div>
        </section>
    </div>

    <!-- Div, donde se mostrará la bio del profesor -->
    <div class="col-sm-9">
        <section class="panel">
            <div class="panel-body">
                {{profesor.bio}}
                <br>
                <br>
                <strong>Edad:</strong> {{profesor.edad}} anos
                <br>
                <button class="btn btn-primary" ng-click="EditarProfesor()">Editar</button>
            </div>

        </section>
    </div>
    </div>
    <div class="row" ng-show="mostrarCaja">
        <div class="col-sm-4">
            <section class="panel">
                <div class="panel-body">
                     Nombre :
                    <input type="text" class="form-control" ng-model="profesor.nombre"> 
                   
                    Edad :
                    <input type="text" class="form-control" ng-model="profesor.edad"> 

                    Bio :
                    <textarea class="form-control" ng-model="profesor.bio "rows="5"></textarea>
                    <br>
                    
                    <button class="btn btn-primary" ng-click="EditarCambios()">Guardar</button>
                    <button class="btn btn-danger" ng-click="CancelarCambios()">Cancelar</button>



                </div>
            </section>
        </div>
    
    </div>
  </body>
</html>